---
import "@fontsource-variable/inter";
import "@/styles/global.css";

import SeoHead from "@/components/SeoHead.astro";
import type { Language } from "@/lib/i18n";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";

interface Props {
  title: string;
  description: string;
  lang: Language;
  routeKey: string;
  ogImage?: string;
  noindex?: boolean;
}
const { title, description, lang, routeKey, ogImage, noindex } = Astro.props;
---

<!doctype html>
<html lang={lang} class="scroll-pt-16 md:scroll-pt-20">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png" />
    <SeoHead
      title={title}
      description={description}
      lang={lang}
      routeKey={routeKey}
      ogImage={ogImage}
      noindex={noindex}
    />
    <script
      defer
      src="https://analytics.pulpo.cloud/script.js"
      data-website-id="d9757dc4-33aa-4ef5-baba-77416505546c"></script>
  </head>
  <body
    class="min-h-screen flex flex-col bg-background text-text pt-16 md:pt-20"
  >
    <Header lang={lang} routeKey={routeKey} />
    <main class="flex-1">
      <slot />
    </main>
    <Footer lang={lang} />
  </body>
</html>
