---
import "@fontsource-variable/montserrat";
import "@fontsource-variable/lora";
import "../styles/global.css";

import SeoHead from "@/components/SeoHead.astro";
import type { Language } from "@/lib/i18n";
import Navbar from "@/components/navbar/Navbar.astro";
import Footer from "@/components/Footer.astro";

interface Props {
  title: string;
  description: string;
  lang: Language;
  routeKey: string;
  ogImage?: string;
  noindex?: boolean;
}
const { title, description, lang, routeKey, ogImage, noindex } = Astro.props;
---

<!doctype html>
<html lang={lang} class="scroll-pt-16 md:scroll-pt-20">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png" />
    <SeoHead
      title={title}
      description={description}
      lang={lang}
      routeKey={routeKey}
      ogImage={ogImage}
      noindex={noindex}
    />
    <script
      defer
      src="https://analytics.pulpo.cloud/script.js"
      data-website-id="79517b0f-155c-495c-b6e5-d516a4adc4fa"></script>
  </head>
  <body class="min-h-screen flex flex-col bg-background text-text pt-16">
    <Navbar lang={lang} routeKey={routeKey} />
    <main class="flex-1">
      <slot />
    </main>
    <Footer lang={String(lang)} />
  </body>
</html>
